div
    h1(class="title") {{title}}

    h2(class="value") {{current | shortenedNumber | prepend prefix | append suffix }}

    p.change-rate
      i(class="{{arrow}}")
      span() {{difference}}

    p(class="more-info") {{moreinfo}}

    p(class="updated-at") {{updatedAtMessage}}
