<style lang="sass">
.widget-{{= name }} {

}
</style>
<template lang="jade">
div
    span {{value}}
</template>
<script lang="es6">
module.exports = {
    data() {
        return {
            value: "foo"
        };
    },
    mixins: [Dashing.Widget],
    ready() {
        // This is fired when the widget is done being rendered 
    }
});
</script>