div
    h1(class="title") {{title}}

    input(class="meter" data-angleOffset="-125" data-angleArc="250" data-width="200" data-readOnly="true" v-model="value | shortenedNumber" data-min="{{min}}" data-max="{{max}}")

    p(class="more-info") {{moreinfo}}

    p(class="updated-at") {{updatedAtMessage}}
